body{
    margin: 0;
}

.logo {
    width: 200px;
    height: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.awesome {
    display: flex;
    flex-direction: column;
    width:50%;
}

.top {
    background-color: #1F2937;
}

/*This website is awesome center*/
.secondrow { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5%;
}

.bigpic {
    width: 500px;
    height: auto;
}

/* Some random info container*/
.thirdrow {  
    display: flex;
    flex-direction: column;
    background-color: white;
}

.imagerow{
    display: flex;
    justify-content: space-between;
}

.image1{
    text-align: center;
}

.fourthrow {
    background-color: #E5E7EB;
}

.quote{
    color:#1F2937;
    font-size: 36px;
    font-style: light italic;
}

.author{
    font-size: 24px;
    text-align: right;
    font-weight: 500;
    color:black;
}

.top, .thirdrow, .fourthrow {
    padding: 20px 13%;
}


/* Universal tag modifiers*/

a:link {
    text-decoration: none;
    color: white;
}

img{
    width: 75%;
    height: auto;
}

button {
    width: 100px;
    color:white;
    font-weight: bolder;
    background-color: #3882f6;
}

h1 {
    font-weight: bold;
    font-size: 48px;
    color: white;
}

h2 { 
    text-align: center;
    padding: 15px;
}

p {
    color: white;
}